/* すべての要素のサイズ計算を「枠線まで含める」に変更 */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  background-color: #1a1a1a;
  color-scheme: dark;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden; /* 横スクロールを禁止 */
}

/* スクロールバーを非表示（スマホアプリ風） */
::-webkit-scrollbar {
  display: none;
}

